<div class="max-w-lg m-auto text-center">
  {{ section.settings.footer_text }}
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "w-full bg-slate-100 p-4 mt-10",
  "settings": [
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer text",
      "default": "Elizabeth",
      "info": "This is the footer text"
    }
  ]
}
{% endschema %}
