<div class="py-8 px-10 md:px-44">

  {% paginate collection.products by section.settings.products_per_page %}
    <div class="flex justify-between items-center mb-8">
      <h1 class="text-3xl md:text-5xl">{{ collection.title }}</h1>
      <a class="hover:text-slate-500" href="{{ routes.collections_url }}">See all Collections</a>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8 md:gap-8 mb-4">
      {% for product in collection.products %}

        {% render "product-card"
          , product: product %}

      {% else %}
        <p>There are no products in this collection</p>

      {% endfor %}
    </div>
    {% render "pagination"
      , paginate: paginate %}

  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Collection template",
    "settings": [
      {
        "type": "select",
        "id": "products_per_page",
        "default": "8",
        "label": "Number of products per page",
        "options": [
          {
            "value": "8",
            "label": "8"
          }, {
            "value": "12",
            "label": "12"
          }, {
            "value": "24",
            "label": "24"
          }
        ]
      }
    ]
  }
{% endschema %}